#tabbed-content {
  width: 300px;
  margin: 0 auto;
  border: 1px solid #aaa;
}

#tabs {
  background-color: yellowgreen;
}

.tab {
  border: none;
  cursor: pointer;
  margin: 0 10px 0px 2px;
  background-color: yellowgreen;
  height: 40px;
}
.tab:focus {
  outline: white none 0;
}

.tab.active {
  background-color: white;
  width: 100px;
}

.content {
  padding: 50px 0;
  text-align: center;
  display: none;
}

